/*  Name: Sarina Luu
    Student#: 300838958
    Date: September 22, 2016
    app.css file
    Custom CSS*/

/*CUSTOM FONTS*/
@font-face{ 
	font-family: 'hattorihanzo';
	src: url('../fonts/Hattori_Hanzo-webfont.eot');
	src: url('../fonts/Hattori_Hanzo-webfont.eot') format('eot'),
	     url('../fonts/Hattori_Hanzo-webfont.woff') format('woff'),
	     url('../fonts/Hattori_Hanzo-webfont.ttf') format('truetype'),	     
}
/*Body*/
body{
    background-color: #eaeaea;
    margin: auto;
    height: 500px;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    
}



header{
    height: 100px;
    width: 100%;
}

.title h1{
    text-align: center;
    padding-top: 30px;
}

/*Obtained From:
http://tympanus.net/codrops/2013/04/17/slide-and-push-menus/*/
/*Navigation*/
.rightNav{
    height: 100%;
    width: 0;
    right: 0;
    position: fixed;
    background-color: #FFE6D4;
    overflow-x: hidden;
    transition: 0.5s;

}
.rightNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    color: #4D3B3B;
    display:block;
    transition: 0.3s

}

.rightNav a:hover, .offcanvas a:focus{
    color: #E8918F;
}

.closeNav {
    position: absolute;
    top: 0;
    left: 5px;
}

.menuIcon {
    float: right;
    margin: 5px 5px 0px 0px;
    width: 30px;
    height: 30px;
}    


#navText {
    margin-top:25px;
}

li .active {
    background-color: #000000;

}

#navText li{
    list-style: none;
}

/*END OF Obtained Code*/

/*TopBar*/
.top-bar-left{
    width: 50%;
    float: left;
}

.top-bar-right{
    width: 50%;
    float: right;
}

.logoWrapper{
    position: relative;
    margin-right: 80px;
}

.logoWrapper .logo{
      position: absolute;
      left: 50%;
      right: 50%;
      
}
/*Main Content*/
.content{   
    background-color: #E8918F;
    height: 500px;
    width: 100%;
    margin-bottom: 0;

}

/*FOOTER CSS*/
footer{
    text-align:center;
    color: #000000;
}

/*HOME PAGE CSS*/
.jumbotron{
    text-align: center;
    font-size: 150px; 
    height: 100%;  
    background-image: url('images/background2.png');

}

#nameHeading {
    text-align: center;
    padding-top: 85px;
    vertical-align: middle;
    font-size: 68px;
}

.selection {
  
    margin-left: 45%;
    padding-top: 65px;
    padding-bottom: 5px;
}
.selection img {
    height: 80px;
    width: 80px;
   float: left;
   padding-right: 5px;

}

.selection p {
    font-size: 10px;
    color: #eaeaea;
    padding-bottom: 0;
}


/*BIO PAGE CSS*/
.profilePic{    
    position: absolute;
    margin-left: 20%;   
    float: left;
}

.profilePic .img-rounded {
    height: 160px;
    width: 160px;
}

.bioInfo {
    width: 100%;
    height: 500px;
    background-color: #FFFFFF;
}

.bioInfo .title{
    padding-bottom: 10px;
}
#bioblurb{
   color: #000000;
   width: 600px;
   margin-left: 35%;
}



/*CONTACT PAGE CSS*/

.contactContainer {
    width: 80%;
    margin:auto;
    padding-top: 30px;
}
#contactForm {
    height: 500px;
    width: 400px;
    float: right;
    margin-right: 15%;
    overflow:hidden;    
    padding-left: 30px;
}
.contactInfo {
    width: 30%;
    height: 500px;
    float: right;
    overflow: hidden;
    font-size: 22px;  
}

.contactInfo p{
    text-align: center;
}
.socialIcons {
    font-size: 50px;
    text-align: center;
    color: #4D3B3B;
}

.socialIcons a:hover{
    color: #FFE6D4;
}

/*PROJECTS PAGE CSS*/
.projectContent {
    text-align: center;
    width: 100%;
}

.projectBoard {
    display: inline-block;
    text-align: left;
    overflow: hidden;
    padding-top: 70px;
}

    .projectBoard .img-thumbnail {
        height: 170px;
        width: 170px;
        float: left;
        margin-right: 25px;
        margin-left: 25px;
    }

    .projectBoard a {
        background-color: #E8918F;
        border: none;
        border-style: none;
    }

.projectThumb {
    border: none;
    border-style: none;
}
/*SERVICES CSS*/
.services {
    width: 800px;
    margin-left: 380px;
}

.services h3{
    padding-bottom: 10px;
}

.services p{
    font-size: 12px;
    padding
}

.design{
   width: 150px;
   float: left;
   padding-left: 20px;
   
}

.design img{
    height: 100px;
    width: 100px;
}

.ideas{
   width: 150px;
   float: left;
   padding-left: 20px;
  
}

.ideas img {
    height: 100px;
    width: 100px;
}
.coding{
    width: 150px;
   float: left;
   padding-left: 20px;
}

.coding img{
    height: 100px;
    width: 100px;
}
.planning{
    width: 150px;
   float: left;
   padding-left: 20px;
}

.planning img{
    height: 100px;
    width: 100px;
}

.license {
    padding-top: 390px;
    text-align: center;
}